# .NET & IDE files
bin/
obj/
.vs/
.idea/
.vscode/

# Environment and Secret configuration files
.env
.env.local
.env.development
appsettings.Development.json
appsettings.Local.json
*.user

# Operating System files
.DS_Store
Thumbs.db

# Documentacion
documentacion/**/*.md